<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Admins</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
        .img-thumbnail {
            max-width: 100px; /* Ajusta el tamaño según tus necesidades */
            height: auto;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Lista de Admins</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Imagen</th> 
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.usuarioId}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.dni}"></td>
                <td>
                    <img th:src="@{/img/{nombreImagen}(nombreImagen=${usuario.urlImagen})}" class="img-thumbnail" alt="Imagen del usuario">
                </td>
                <td>
                    <a th:href="@{/admin/{id}/editar(id=${usuario.usuarioId})}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{/admin/{id}/eliminar(id=${usuario.usuarioId})}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar este usuario?');">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="#" th:href="@{/admin/nuevo}" class="btn btn-primary">Agregar Nuevo Admin</a>
</div>
</body>
</html>
