<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Funciones</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>Listado de Funciones</h1>
    <a href="#" th:href="@{/funciones/crear}">Agregar Nueva Función</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Pelicula</th>
                <th>Sala</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcion : ${funciones}">
                <td th:text="${funcion.funcionId}"></td>
                <td th:text="${funcion.pelicula.titulo}"></td>
                <td th:text="${funcion.sala.nombre}"></td>
                <td th:text="${funcion.estado}"></td>
                <td>
                    <a th:href="@{/funciones/editar/{id}(id=${funcion.funcionId})}">Editar</a> |
                    <a th:href="@{/funciones/eliminar/{id}(id=${funcion.funcionId})}" onclick="return confirm('¿Estás seguro de eliminar esta función?');">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
